# Don't save the RStudio memory
*.Rproj
.Rproj.user/*
.Rprofile      # my api keys

# RS Connect is the the Bookdown site information 
rsconnect/*

# These are directorys that hold the chapter figures and output html/pdf files
_bookdown_files/*

# I don't know why this file gets generated in the main directory.
Introduction_to_DataScience_with_R.rds
.Rproj.user
