# Don't save the RStudio memory
*.Rproj
.Rproj*

.Rproj.user/*
.Rproj.user

.Rapp.history/

# .Rprofile      # my api keys. Collaborators need these...

# RS Connect is the the Bookdown site information 
rsconnect/*

# These are directorys that hold the chapter figures and output html/pdf files
_bookdown_files/*
_book/*

# I don't know why cache files get generated in the main directory
# instead of being put in _bookdown_files/ directory
*.rds

